/**
 * Simple general style
 */
body {
    background-color: #f5f5f5;
    color: #000000;
}

#navigation,
#header {
    background-color: #dddddd;
    color: #729fcf;

    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

#header h1 {
    color: #204a87;
    text-shadow: #666666 1px 1px 1px;

    font-size: 2.6em;

    padding: 30px 10px 10px 10px
}

.main {
    background-color: #ffffff;
    color: #000000;

    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

#navigation dl.tabs {
    margin-bottom: 0px;
}

#footer {
    background-color: #dddddd;
    color: #666666;
    font-size: 90%;
    text-align: center;

    padding: 5px 0px;

    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

#content {
    padding: 10px;
}



/**
 * Text rendering definitions
 *
 * Inspired by blueprint.css
 */

/* typography.css */
div#content h2,
div#content h3,
div#content h4,
div#content h5,
div#content h6 {
    font-weight: normal;
    color: #000000;
    clear: left;
}

div#content div.image {
    background-color: #fafae5;
    border: 1px solid #ffffff;
    padding: 1px;
}

div#content div.image img {
    display: block;
}

div#content div.image span.image_title {
    font-size: .8em;
}

div#content .right {
    float: right;
    clear: right;
    margin: 0em 0em 1em 1em;
}

div#content .left {
    float: left;
    clear: left;
    margin: 0em 1em 1em 0em;
}

div#content h2,
div#content h3 {
    text-shadow: #babdb6 1px 1px 2px;
}

div#content h2 {
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
}

div#content h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}

div#content h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}

div#content h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

div#content h6 {
    font-size: 1em;
    font-weight: bold;
}

div#content h2 img,
div#content h3 img,
div#content h4 img,
div#content h5 img,
div#content h6 img {
    margin: 0;
}

div#content p {
    margin: 0 0 1.5em;
    max-width: 550px;
}

div#content dl.footnote,
div#content div.note,
div#content div.toc {
    width: 170px;
    float: right;
    clear: right;
    margin-bottom: 1em;
    padding: 4px;

    background-color: #fafae5;
    border: 1px solid #ffffff;
    box-shadow: 2px 2px 2px #babdb6;
    -moz-box-shadow: 2px 2px 2px #babdb6;

    font-size: .9em;
}

div#content dl.footnote dt {
    float: left;
    font-weight: normal;
}

div#content dl.footnote dt a {
    text-decoration: none;
    color: #000000;
}

div#content a.footnote {
    vertical-align: super;
    font-size: .7em;
    text-decoration: none;
}

div#content p img.left {
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0;
}

div#content p img.right {
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
}

div#content a:focus,
div#content a:hover {
    color: #000;
}

div#content a {
    color: #204a87;
    text-decoration: underline;
}

div#content blockquote {
    margin: 1.5em;
    color: #666;
    font-style: italic;
}

div#content strong {
    font-weight: bold;
}

div#content em,
div#content dfn {
    font-style: italic;
}

div#content dfn {
    font-weight: bold;
}

div#content sup,
div#content sub {
    line-height: 0;
}

div#content abbr,
div#content acronym {
    border-bottom: 1px dotted #666;
}

div#content address {
    margin: 0 0 1.5em;
    font-style: italic;
}

div#content del {
    color: #666;
}

div#content pre {
    margin: 1.5em 0;
    white-space: pre;
}

div#content pre, code, tt {
    font: 1em monospace;
    line-height: 1.5;
}

div#content code.block {
    display: block;
    margin: 0 0 1.5em;
    
    white-space: pre;
}

div#content li ul,
div#content li ol {
    margin: 0;
}

div#content ul.error,
div#content ul.notice,
div#content ul.success,
div#content ul, ol {
    margin: 0 1.5em 0 1.5em;
    padding-left: 3em;
}

div#content ul {
    list-style-type: disc;
}

div#content ol {
    list-style-type: decimal;
}

div#content dl {
    margin: 0 0 1.5em 0;
}

div#content dl dt {
    font-weight: bold;
}

div#content dd {
    margin-left: 1.5em;
}

div#content table {
    width: 100%;
    margin: 1em 0em 1em 0;
    border: 2px solid #000000;
    border-left: none;
    border-right: none;
}

div#content th {
    font-weight: bold;
}

div#content thead th {
    border-bottom: 1px solid #000000;
}

div#content th,
div#content td,
div#content caption {
    padding: 4px 10px 4px 5px;
    vertical-align: top;
}

div#content tr.dark td {
    background-color: #eeeeef;
}

div#content tfoot {
    font-style: italic;
}

div#content caption {
    background: #eee;
}

div#content .small {
    font-size: .8em;
    margin-bottom: 1.875em;
    line-height: 1.875em;
}

div#content .large {
    font-size: 1.2em;
    line-height: 2.5em;
    margin-bottom: 1.25em;
}

div#content .hide {
    display: none;
}

div#content .quiet {
    color: #666;
}

div#content .loud {
    color: #000;
}

div#content .highlight {
    background: #ff0;
}

div#content .added {
    background: #060;
    color: #fff;
}

div#content .removed {
    background: #900;
    color: #fff;
}

div#content .first {
    margin-left: 0;
    padding-left: 0;
}

div#content .last {
    margin-right: 0;
    padding-right: 0;
}

div#content .top {
    margin-top: 0;
    padding-top: 0;
}

div#content .bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}
